<nav class="navbar bg-light">
  <ul>
    <li>
      <a class="active" routerlink="/">Home</a>
    </li>
    <li>
      <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
    </li>
    <li>
      <a routerLink="/account" routerLinkActive="active" ariaCurrentWhenActive="page">Account</a>
    </li>
    <li>
      <a routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">Profile</a>
    </li>  
  </ul>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>